body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 10px;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .features {
    display: flex;
    align-items: center;
}

header .features img {
    height: 70px;
    margin-right: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.features-section{
    padding: 40px;
    background-color: #fff;
}

.features-section h2 {
    text-align: center;
    font-size: 26px;
    color: #333;
    margin-bottom: 30px;
}

.features-container {
    display: flex;
    gap: 18px;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-item {
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature-item img {
    width: 100%;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 16px;
}

.feature-item h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.feature-item .sign-up-now {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.feature-item .sign-up-now:hover {
    text-decoration: underline;
}
