body {
    margin: 0%;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 10px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo h1 {
    margin: 0%;
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.social-links {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

.social-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 25px;
}

.content {
    text-align: center;
    padding: 50 20px;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 60px;
    padding-top: 80px;
}

.content p {
    font-size: 20px;
    color: #555;
    max-width: 500px;
    margin: 0 auto 30px;
}

.cta-button {
    background-color: #333;
    color: white;
    padding: 10 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}